<form class="jumbotron" ng-submit="loadGemStats()">
  <input type="text" ng-model="gemName" placeholder="Enter a RubyGem name" class="form-control">
</form>

<div ng-show="loading">
  <h3 style="text-align: center">Building chart...</h3>
</div>

<div google-chart chart="rubyGemVersionsChart" ng-show="rubyGemVersionsChart"></div>

<div class="footer">
  <p>
    Built by <a href="https://github.com/fgrehm/" target="_blank">Fábio Rehm</a>
    during one of the investment days at
    <a href="http://helabs.com.br/" target="_blank">HE:labs</a> as part of our
    <a href="http://helabs.com.br/en/magic/#friday" target="_blank">magic</a>.
  </p>
</div>
